<p id="notice"><%= notice %></p>

<p>
  <b>Menuitem:</b>
  <%= @menu.MenuItem %>
</p>

<p>
  <b>Menuprice:</b>
  <%= @menu.MenuPrice %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
