<p id="notice"><%= notice %></p>

<p>
  <b>Menu:</b>
  <%= @order.Menu %>
</p>

<p>
  <b>Ticket:</b>
  <%= @order.Ticket %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
