<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CustomerName %><br />
    <%= f.text_field :CustomerName %>
  </div>
    <div class="field">
      <%= f.label :quantity %><br />
      <%= f.number_field :quantity %>
    </div>

  <div class="field">
    <%= f.label :TicketStatus %><br />
    <%= f.select(:TicketStatus,[["Completed","Completed"],["Paid","Paid"],["Unpaid","Unpaid"]])  %>
  </div>


  <div class="field">
    <%= f.label :TicketTotal %><br />
    <%= f.text_field :TicketTotal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
