<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Customername</th>

    <th>Ticketstatus</th>
    <th>Tickettotal</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.CustomerName %></td>

    <td><%= ticket.TicketStatus %></td>
    <td><%= ticket.TicketTotal %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
