<p id="notice"><%= notice %></p>

<p>
  <b>Customername:</b>
  <%= @ticket.CustomerName %>
</p>



<p>
  <b>Ticketstatus:</b>
  <%= @ticket.TicketStatus %>
</p>

<p>
  <b>Tickettotal:</b>
  <%= @ticket.TicketTotal %>
</p>


<p>
  <b>Quantity:</b>
  <%= @ticket.quantity %>
</p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
