<!DOCTYPE html>
<html>
<head>
  <title>IndividualProject2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Menus", menus_path %>
<%= link_to "Tickets", tickets_path %>
<%= link_to "Orders", orders_path %>

<%= yield %>

</body>
</html>
